<div  ng-controller="UbigeoCtrl">
    
                    
                    <table table-responsive class="table-pagination">
                        
                        
                        <thead md-on-reorder="onReorder">
                            <tr>
                                <th>#</th>
                                <th class="col-hidden" data-order="nombre">nombre</th>
                                <th class="col-hidden" data-order="codigo">direccion</th>
                                <th>pais_nombre</th>
                                <th>tipo_ubigeo_nombre</th>
                                <th>padre_nombre</th>
                                <th colspan="2" class="align-options">acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in lista">
                                <td> {{ (options.page - 1) * options.page_size +$index +1 }} </td>
                                <td> {{ d.nombre }} </td>
                                <td> {{ d.codigo }} </td>
                                <td> {{ d.pais_nombre }} </td>
                                <td> {{ d.tipo_ubigeo_nombre }} </td>
                                <td> {{ d.padre_nombre }} </td>
                                <td>
                     <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Button
</button>
                                </td>
                                <td>
           <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">add</i>

</button>

                                </td>
                            </tr>
                        </tbody>
                        
                    </table>


               
</div>
